nav {
    text-align: right;
    margin: 10px;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin: 50px;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(109, 151, 214);
    color: white;
}

button {
    margin: 10px;
}

h1 {
    margin-top: 5%;
}

.centrado {
    align-self: center;
    align-items: center;
    float: center;
}

.textolargo {
    width: 80%;
}

.botonesrespA {
    width: 45%;
    height: 80%;
    float: center;
    color: #ffffff;
    background-color: #f58231;
    border-color: #f58231;
}

.botonesrespB {
    width: 45%;
    height: 80%;
    float: center;
    color: #ffffff;
    background-color: #911eb4;
    border-color: #911eb4;
}

.botonesrespC {
    width: 45%;
    height: 80%;
    float: center;
    color: #ffffff;
    background-color: #4390d8;
    border-color: #4390d8;
}

.botonesrespD {
    width: 45%;
    height: 80%;
    float: center;
    color: #ffffff;
    background-color: #3cb44b;
    border-color: #3cb44b;
}